* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: #121212;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 240px;
  border-right: 3px solid #858585;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.content {
  margin-left: 240px;
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}
